.skills
  .skills-wrapper
    %header.skills-header
      %h3 Skills

    %ul.skills-list
      %li 
        UX & UI design
      %li
        Mobile & responsive design
      %li
        Logo design
      %li
        Prototyping
      %li
        Wireframing & Sketching
