.casestudy
  .page
    %section
      %h2
        Case Study

      %p
        Travel Often, save time and make it your own.
        Tell us about your preferences of your dream vacation and we give you
        curated trips based on those preferences. Don’t like what was curated?
        Make it your own, with an easy plan a trip feature you can create your
        own experience the way you like.

    .video-card-container
      .video-card-item
        .demo-card-image.mdl-card.mdl-shadow--2dp
          %video{ autoplay: '', loop: '' }
            %source{ src: 'images/travel_peek.mp4' }
          %a{ href: '#' }
            %span.demo-card-image__filename TravelBug!
