.casestudy
  .page
    %section
      :markdown
        #### TravelBug!

        Travel Often, save time and make it your own.  Tell us about your
        preferences of your dream vacation and we give you curated trips
        based on those preferences. Don’t like what was curated? Make it
        your own, with an easy plan a trip feature you can create your own
        experience the way you like.

    .video-card-container
      .video-card-item
        .demo-card-image.mdl-card.mdl-shadow--2dp
          %video{ autoplay: '', loop: '' }
            %source{ src: 'images/travel_peek.mp4' }
          %a{ href: '#' }
            %span.demo-card-image__filename TravelBug!

    %section
      :markdown
        #### Tools Used

        - Sketch
        - Invision
        - Sticky Notes

        #### Problem Statement

        The initial problem I intended to solve was to reduce the time users
        spent looking a comparing options. By alleviating this stress it would
        help them better understand where to travel and what to do when they
        are traveling.

        #### Business Goals

        - Minimize the research time so users can spend more doing rather than
        planning.
        - Provide convenience and discovery of new trips for new users.
        - Increase bookings and make our travel app the de facto standard.
        - Provide the best overall value and experience to users.

        #### Users Goals

        - Spend less time booking travel, and spend more time traveling.
        - To have a more convenient way to bundle all their travel needs.

        #### Users and Audience

        <a href='images/persona1.png' target='_blank'>
          <img src='images/persona1.png'/>
        </a>
        <a href='images/persona2.png' target='_blank'>
          <img src='images/persona2.png'/>
        </a>
        <a href='images/persona3.png' target='_blank'>
          <img src='images/persona3.png'/>
        </a>

        Leisure travelers are our targeted users. They love to travel,
        often plan vacations with family and friends, and love exploring
        new places. Based on this information 3 personas were used during
        the process the Savvy Shopper, the Budget Shopper, and the
        one-stop shopper.

        [View Personas][personas_link]{:target='_blank'}

        #### Team and Your Role

        This app is an individual project. My research was conducted through
        surveying and interviewing users.  I also created rough sketches on
        paper which was recreated on Sketch and uploaded to Invision.

        #### Constraints

        I chose to give myself a month to see how far I can take the concept
        and turn it into a testable idea.

        #### Research and Analysis

        In order to gain more knowledge of the target users I used primary and
        secondary research through interviewing and surveying leisure
        travelers.

        Through surveys and interviewing, I discovered a few pain
        points.  I found it takes the user more time to book a trip
        given the amount of steps they needed to go through, and lack of
        incentives to recommend my app.

        #### User Stories

        <a href='images/user_stories.svg' target='_blank'>
          <img src='images/user_stories.svg'/>
        </a>

        Based on the personas goals and business goals I was able to create key
        features for the app. These include

          - Smart Automated Travel Assistant builds trip
          - Build and customize your own trip
          - In-app trip purchase
          - Wishlist and saved searches
          - Explore destinations
          - Create location based itinerary
          - Offline access for those who don’t have access to the internet

        #### Sitemap

        <a href='images/sitemap.svg' target='_blank'>
          <img src='images/sitemap.svg'/>
        </a>

        Conducted a card sorting exercise and used a Similarity Matrix
        and the Best Merge Method to create the categories for the app

          - Checkout
          - Curated Travel
          - Plan/Arrange
          - Account/Profile.

        [View Research and Analysis][research_link]{:target='_blank'}
          | [View Survey Results][survey_link]{:target='_blank'}

        #### Wireframes

        <a href='images/sketch_one_resize.jpg' target='_blank'>
          <img src='images/sketch_one.jpg'/>
        </a>
        <a href='images/sketch_two_resize.jpg' target='_blank'>
          <img src='images/sketch_two.jpg'/>
        </a>
        <a href='images/sketch_three_resize.jpg' target='_blank'>
          <img src='images/sketch_three.jpg'/>
        </a>

        Created wireframes based off personas, users stories, and user flows.
        Sketches of wireframes were created using sketch, and hand drawn
        rough sketches.

        Took initial wireframes from Sketch to create higher fidelity clickable
        prototypes to test with users.

        [View Prototype][prototype_link]{:target='_blank'}
          | [View Wireframes][wireframe_link]{:target='_blank'}

        #### Wireframe Takeaways

        Iterate often, and test often is what I learned from this.  I made small
        changes after testing sections of the app in order to meet the goals
        of the users.

        #### User Testing

        Tested low fidelity clickable prototypes with users fitting the
        personas.  Found that most users understood the process of app
        and discovered which flows were less clear to use.

        [personas_link]: https://app.xtensio.com/folio/6dgglhrm
        [research_link]: images/research_and_analysis.pdf
        [survey_link]: https://my.visme.co/projects/4doq03dk-travel-2
        [prototype_link]: https://invis.io/S78MWFW4N
        [wireframe_link]: images/wireframes.pdf

        [sketch_one_link]: images/sketch_one.jpg
        [sketch_two_link]: images/sketch_two.jpg
        [sketch_three_link]: images/sketch_three.jpg
