.dribbble
  .page
    %header
      %h2 
        TravelBug!

    %ul#travelbug

      %div.handphone

.casestudy
  .page
    %header
      %h2
        Case Study

      %p
        Travel Often, save time and make it your own. Tell us about your preferences of your dream vacation and we give you curated trips based on those preferences. Don’t like what was curated? Make it your own, with an easy plan a trip feature you can create your own experience the way you like.

    -#%div.demo-card-image.mdl-card.mdl-shadow--2dp
      -#%div.mdl-card__title.mdl-card--expand
      -#%div.mdl-card__actions
        -#%a(href= "#")
          -#%span.demo-card-image__filename TravelBug!

-#%div.demo-card-event.mdl-card.mdl-shadow--2dp
  -#%div.mdl-card__title.mdl-card--expand
    -#%h4
      -#Featured event:
      -#br
      -#May 24, 2016
      -#br
      -#7-11pm
  -#%div.mdl-card__actions.mdl-card--border
    -#%a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
      -#Add to Calendar
    -#%div.mdl-layout-spacer
    -#%i.material-icons 
      -#event
