@include font-face("fontawesome-webfont", "/fonts/fontawesome-webfont", normal, $asset-pipeline: false, $file-formats: ttf);

.icon {
  font-family: "fontawesome-webfont";
  font-weight: normal;
  font-style: normal;
  font-size: 16px;

  &.icon-twitter:before { content: "\f099"; }
  &.icon-linkedin:before { content: "\f0e1"; }
}
