%footer{role: "footer"}
  %nav
    %ul
      %li
        = link_to "//twitter.com/ash_albright" do
          %i.icon.icon-twitter
      %li
        = link_to "https://www.linkedin.com/in/ashleyalbright" do
          %i.icon.icon-linkedin
  %p
    &copy; 2016 Ashley Albright.
    %br/
    This site is open source. Want to see how it's built?  
    = link_to "See the source.", "https://github.com/mariusz/mariusz.cc"

    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
