.about {
  transition: background .25s $easing;
  background-color: #111F2C;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -25em;
  color: #fff;
  padding: ms(4);
  display: flex;
  align-items: left;

  @media only screen and (min-width: 800px) {
    background-image: url("/images/ice_ashley.jpg");
    background-attachment: fixed;
  }

  @media only screen and (min-width: $bp-large) {
    min-height: 400px;
    height: 100vh;
  }

  .content {
    @include wrapper;
    width: 59em;

    .video-card-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: left;
      border-radius: 3em;

      .demo-card-image.mdl-card {
        width: 500px;
        height: 400px;
        border-radius: 3em;

        .description {
          padding: 1.5em;
          width: 100%;
        }

        p {
          color: #333;
        }
      }
    }
  }

  header {
    @extend .section-header;
  }

  h2 {
    color: #fff;
  }

  p {
    font-size: 1.25em;
    font-weight: 300;

    @include media($bp-small) {
      font-size: 1.5em;
    }
  }
  
  .description {
    @include span-columns(12);

    @include media($bp-medium) {
      @include span-columns(6);
    }
  }


}
