[role=banner] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  @media only screen and (min-width: $bp-medium) {
    position: fixed;
  }

  h1 {
    float: left;

    a {
      @include image-2x("/images/sick_logo.svg", "/images/logo@2x.svg", 62px, 62px);

      display: block;
      margin: 0 auto;
      width: 62px;
      height: 62px;
      text-indent: -999em;
    }
  }

  .page {
    display: flex;
    width: 90%;
  }
}
