.teaser
  .teaser-overlay#teaserOverlay
  .page
    .wrapper
      %h1.wow.fadeInUp#teaserText
        %span.design-and-build
          Hi, I'm Ashley Albright.
          A UX designer.
          

      .actions.wow.fadeInUp
        = link_to "See my work", "#work", class: "button teaser-button"
        = link_to "Hire me", "#contact", class: "button teaser-button teaser-button--last"
