.contact-me
  %header
    %h2 Contact Me At
    %a(href="mailto:ashalb93@gmail.com")
      ashalb93@gmail.com


  -#%p 
    -#Got an interesting project and would like to work on it with me?

  -#%p
    -#= link_to "Get in touch", "/contact.html", class: "button"
